<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <a href="{% url 'post_list' %}">My videos</a>
    <a href="{% url 'upload_post' %}">Upload</a>


<!--    Video Upload-->
<!--    <h2>Upload a Video</h2>-->
<!--    <form method="POST" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        <label for="title">Title:</label><br>-->
<!--        <input type="text" name="title" id="title" required><br><br>-->

<!--        <label for="video_file">Select video file:</label><br>-->
<!--        <input type="file" name="video_file" id="video_file" accept="video/*" required><br><br>-->

<!--        <button type="submit">Upload</button>-->
<!--    </form>-->
</body>
</html>
